/* Estilos gerais da página */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fca311 !important;
}


.inputBusca {
    width: 500px;
    height: 2.5rem;
    background-color:white;
    color: black;
    border-radius: 5px;
  }

/* Estilos para o contêiner principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para o título */
h1 {
    text-align: center;
    color: #14213D;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: bold;
}

/* Estilos para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    /* Tabela toda branca */
}

table th {
    background-color: white;
    color: #14213D;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #14213D;
    /* Linha inferior escura para destacar o cabeçalho */
}

table td {
    padding: 10px;
    color: #14213D;
    /* Texto azul escuro */
    border: 1px solid #dddddd;
}

/* Estilos para as linhas ímpares da tabela */
tbody tr:nth-child(odd) {
    background-color: white;
    /* Manter todas as linhas brancas */
}

/* Estilo para as linhas ao passar o mouse */
tbody tr:hover {
    background-color: #e6e6e6;
    /* Leve sombreamento ao passar o mouse */
}

/* Estilos para os ícones de deletar e atualizar */
.pTableBodyButtons {
    cursor: pointer;
    font-size: 1.5em;
    color: #14213D;
    margin: auto auto;

    /* Cor do ícone de atualização */
}

.pTableBodyButtons:hover {
    color: #fca311;
    /* Cor ao passar o mouse */
}

/* Estilo para o ícone de deletar */
.icon-delete {
    color: #d9534f;
    /* Vermelho */
}

.icon-delete:hover {
    color: #c9302c;
}

/* Estilo para o ícone de edição */
.icon-edit {
    color: #5bc0de;
    /* Azul */
}

.icon-edit:hover {
    color: #31b0d5;
}

/* Estilo para o botão de paginação */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 8px 12px;
    color: #14213D;
    background-color: fca311;
    border: 1px solid #14213D;
    border-radius: 5px;
}

.pagination li a:hover {
    background-color: #fca311;
    color: white;
}

.col{
    display: flex;
    justify-content: center;
}