.pagina-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.cartao-1 {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  color: white;
  background-color: #14213D;
}

.cartao-2 {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  color: white;
  background-color: #fca311;
}

.cartao:hover {
  transform: scale(1.05);
}

.cartao img {
  width: 100px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cartao h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.cartao p {
  font-size: 16px;
  color: #666;
}

.cartao a {
  text-decoration: none;
  color: #333;
}

.img1, .img2 {
  width: 200px;
  height: 170px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .cartao-2 {
    height: 320px;
    font-size: 15px;
  }


  .img2 {
    height: 175px;
  }
}