/* FormExercicio.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container-exercicio {
    display: flex;
    flex-direction: column; /* Direção da coluna para empilhar elementos */
    align-items: center; /* Alinha elementos horizontalmente no centro */
    padding: 10px; /* Espaçamento interno */
    background-color: #ffffff; /* Cor de fundo do container */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do container */
    width: 90%; /* Largura do container */
    max-width: 500px; /* Largura máxima do container */
    margin: 20px auto 0; /* Adiciona margem superior de 20px e centraliza horizontalmente */
}

.topo-cabecalho {
    text-align: center; /* Centraliza o cabeçalho */
    margin-bottom: 20px; /* Espaçamento inferior do cabeçalho */
    font-weight: bold;
    color: #002B54;
}

.topo-cabecalho header {
    font-size: 25px; /* Tamanho do texto do título */
    color: #002B54 ; /* Cor do texto do título */
}

.campo-selecao {
    margin-bottom: 15px; /* Espaçamento inferior entre campos */
    width: 100%; /* Largura total dos campos */
}

/* Estilo para o container que contém "Carga Utilizada" e "Repetições" */
.campo-duplo {
    display: flex; /* Usando flexbox para colocar os campos lado a lado */
    gap: 10px; /* Espaçamento entre os campos */
}

.campo-input {
    width: 100%; /* Largura total do input */
    padding: 10px; /* Espaçamento interno do input */
    border-radius: 5px; /* Bordas arredondadas do input */
    border: 1px solid #ccc; /* Borda do input */
    font-size: 12px; /* Tamanho da fonte do input reduzido */
}

.campo-input:focus {
    border-color: #ffaa00; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

.botoes {
    display: flex; /* Usando flexbox para os botões */
    flex-direction: column; /* Colocando botões em coluna */
    gap: 10px; /* Espaçamento entre botões */
    margin-top: 20px; /* Espaçamento acima dos botões */
}

.botao-cadastro {
    background-color: #ffaa00; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border: none; /* Remove borda padrão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas do botão */
    font-size: 14px; /* Tamanho da fonte do botão */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    width: 100%; /* Botão ocupa 100% da largura */
}

.botao-cadastro:hover {
    background-color: #e69900; /* Cor de fundo ao passar o mouse */
}
