:root {
    --cinzaAvermelhado: #333;
    --cinzaMeioEscuro: #444;
    --cinzaMedio: #666;
    --amareloClaro: #ffeba7;
    --cinzaEscuro: #212529;
    --cinzaAzulado: #343A40;
    --branco: #FFFFFF;
    --cinzaClaro: #ccc;
    --amareloEscuro: #b39f72;
    --preto: #000000;
}

body {
    background-color: var(--cinzaAvermelhado);
    color: var(--amareloClaro);
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: ridge;
    margin-top: 3%;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.searchSection {
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.searchSection label {
    color: #FCA311;
}

.searchSection select,
.searchSection input,
.searchSection button {
    padding: 5px;
    border-radius: 5px;
   
    background-color: var(--branco);
    color: #FCA311;
}

.searchSection button {
    cursor: pointer;
}

.nomeAluno, .nomeProfessor {
    background-color: #f3f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--branco);
}

.labelMatricula {
    width: 15%;
    text-align: left;
}

.nomeAluno h4, .nomeProfessor h4 {
    margin: 0 0 5px 0;
    color: #FCA311;
}

.nomeAluno h3, .nomeProfessor h3 {
    margin: 0;
    color: #000000;
    
}

.exerciciosSection {
    margin-top: 20px;
}

.exercicio {
    background-color: #f3f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.exercicio h4 {
    color: var(--amareloBemClaro);
}

.exercicio h3 {
    margin: 0 0 10px 0;
    color: var(--amareloBemClaro);
}

.divs {
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    
}
.containerDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.divExercicio {
    display: flex;
    align-items: center; /* Alinhar os itens centralizados verticalmente */
}

.carga {
    margin-left: 5px; /* Pequeno espaço entre o número e o "Kg" */
    display: inline-block;
}

.tabelaListTreino {
    width: 90%;
    border: none!important;
    margin: auto auto;
}

.tabelaListTreino td {
    text-align: left;
    border: none!important;
    background-color: #f3f2f2 !important;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .searchSection {
        flex-direction: column;
        align-items: flex-start;
    }

    .nomeAluno, .nomeProfessor, .exercicio {
        padding: 5px;
    }

    .nomeAluno h4, .nomeProfessor h4, .exercicio h4 {
        font-size: 14px;
    }

    .nomeAluno h3, .nomeProfessor h3, .exercicio h3 {
        font-size: 16px;
    }
}
