/* StyleCadastro.module.css */

/* Estilos gerais para o formulário de atualização de senha */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.h1 {
  text-align: center;
  color: #14213D;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
}

.container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #14213D;
}

/* Grupo de campos de entrada */
.formGroup {
  margin-bottom: 20px;
}

.labelForm {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #14213D;
  width: 100%;
}

/* Estilo para campos de entrada */
.formStyle {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.formStyle:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilo para o botão de atualização */
.btn {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  color: white;
  background-color: #FCA311;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e5941f;
}
