/* FormAparelho.css */
body {
    margin: 1px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container-centralizado {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da visualização */
}

.caixa-formulario {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    padding: 20px;
}

.cabecalho-formulario {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaçamento inferior do cabeçalho */
}

.titulo-formulario {
    font-size: 25px; /* Tamanho do título */
    color: #333333; /* Cor do título */
    font-weight: bold;

}

.campo-input-container {
    margin-bottom: 15px; /* Espaçamento entre campos */
    position: relative; /* Para posicionar o ícone */
}

.etiqueta-campo {
    font-size: 12px; /* Tamanho do texto do label */
    color: #555555; /* Cor do texto do label */
    margin-bottom: 5px; /* Espaçamento inferior do label */
    display: block; /* Faz com que o label ocupe a linha inteira */
}

.campo-texto {
    width: 100%; /* Largura total do input */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.campo-texto-foco:focus {
    border-color: #ffaa00; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

.icone-direita {
    position: absolute; /* Posiciona o ícone à direita */
    right: 10px;
    top: 40%; /* Centraliza verticalmente em relação ao input */
    transform: translateY(-50%); /* Ajusta o ícone ao centro do input */
    font-size: 20px; /* Tamanho do ícone */
    color: #aaaaaa; /* Cor do ícone */
}

.container-botoes {
    display: flex; /* Usando flexbox para os botões */
    flex-direction: column; /* Colocando botões em coluna */
    gap: 10px; /* Espaçamento entre botões */
    margin-top: 20px; /* Espaçamento acima dos botões */
}

.botao-envio {
    background-color: #ffaa00; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    border: none; /* Remove borda padrão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    width: 100%; /* Botão ocupa 100% da largura */
}

.botao-envio:hover {
    background-color: #e69900; /* Cor de fundo ao passar o mouse */
}

.buttonv {
    background-color: #ffaa00;
    color:#ffffff; /* Cor do texto do botão */
    border: 1px solid #ffaa00; /* Borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
    width: 100%; /* Botão ocupa 100% da largura */
}

.buttonv:hover {
    background-color: #e69900; /* Cor de fundo ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
}
