.bgBodyTertiary {
    background-color: #14213D!important;
}

.img{
    width: 50px;
    height: 50px;
}

#basicNavbarNav{
    justify-content: end!important;
 
}

.navLink{
    color: white!important;
    text-decoration-line: underline!important ;
}

.botao{
    background-color: #e59400!important;
    color: white!important;
    border: none !important;;
}

#basicNavDropdown, #collapsibleNavDropdown{
    color: white!important;
    text-decoration-line: underline!important ;
    
}