.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

.container {
    width: 350px;
    display: flex;
    
    padding: 0 15px 0 15px;
}

span {
    color: #000000;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 15px 0;
}

header {
    color: #000000;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 0 0 15px 0;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-field .input {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000;
    padding: 0 10px 0 42px;
    background: rgba(0, 0, 0, 0.1);
    height: 35px;
}

::-webkit-input-placeholder {
    color: #000000;
}

.submit {
    font-size: 15px;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
    background: rgba(0, 0, 0, 0.7);
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
}

.left {
    display: flex;
}

label a {
    text-decoration: none;
}