/* Estilos gerais para o formulário de atualização do exercício */
.FormAtualizarExercicio {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    border: 1px solid #14213D;
  }
  
  h1 {
    text-align: center;
    color: #14213D;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Estilos para os rótulos */
  .label-exercicio {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #14213D;
    width: 100%;
  }
  
  /* Estilo para os campos de entrada e seletor */
  .FormAtualizarExercicio input[type="text"],
  .FormAtualizarExercicio input[type="number"],
  .FormAtualizarExercicio select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  .FormAtualizarExercicio input[type="text"]:focus,
  .FormAtualizarExercicio input[type="number"]:focus,
  .FormAtualizarExercicio select:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Estilos para o grupo de campos */
  .GrupoExercicio {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  
  /* Estilos para os botões */
  .BotaoEnviar,
  .BotaoVoltar {
    background-color: #FCA311;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
  }
  
  .BotaoEnviar:hover,
  .BotaoVoltar:hover {
    background-color: #e5941f;
  }
  
  .BotaoVoltar {
    margin-top: 10px;
    background-color: #FCA311;
    text-align: center;
  }
  